* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
body{
    background: #7ec8e3;
}
header {
    width: 100%;
    height: 90px;
    background: #dd7ba9;
    padding: 45px 0px 0px 120px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #5b605f;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;
}

.img {
    display: inline-block;
}

.logo-img {
    width: 568px;
    height: 400px;
    margin-left: 240px;
    padding-bottom: 80px;

}
.button-header {
    background: #1a3d7c;
    /* azul profundo: transmite confiança e profissionalismo */
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
    color: #fff;
    /* texto branco para contraste */
    width: 90px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease;
    font-family: 'Poppins', sans-serif;
    /* fonte moderna */
    margin-left: 380px;
}
.button-header:hover {
    background: #10294f;
    /* tom mais escuro no hover */
}
.button-explore {
    background: #ADFF00;
    /* verde-menta tecnológico: moderno e inovador */
    border-radius: 20.5px;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Poppins', sans-serif;
    /* fonte moderna */
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
}

.button-explore:hover {
    background: #898f8e;
    /* tom mais escuro no hover */
}

section {
    display: inline-block;
    width: 550px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    color: #515151;
    line-height: 80px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    color: #515151;
    line-height: 0px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
}

@media{
  .header{
    width: 200px;
    height: 100%;
  }
}